@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	text-wrap: pretty;
	scroll-behavior: smooth;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

@font-face {
	font-family: InterVariable;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('assets/inter-variable.woff2') format('woff2');
}
